body {
    font-family: Georgia;
    min-width: 920px;
}
header {
    margin-top: 20px;
    text-align: center;
}
#match3 {
    text-decoration: none;
    font-family: Georgia;
    font-size: 35pt;
    border-bottom: 1px solid black;
}
#match3:visited {
    color: inherit;
}
.right {
    float: right;
    text-align: center;
    margin-top: 100px;
    margin-right: 4%;
    width: 15%;
    min-width: 100px;
    color: black;
    font-family: Georgia;
    font-size: 18px;
    position: relative;
}
.right a, #sidebar a:visited {
    color: inherit;
    text-decoration: inherit;
    
}
.content {
    margin: auto;
    width: 60%;
    min-width: 550px;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#board {
    margin:inherit;
    position: relative;
    height: 448px;
    width: 448px;
    background-color: black;
    border: 8px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow:inset 0px 0px 0px 10px white;
}
#board div {
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    margin: 3px;
}
#scoreboard {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}
#scoreboard tr td {
    height: 30px;
    min-width: 20px;
    text-align: center;
}
object {
    overflow: visible
    margin-top: 40px;
    width: 100%;
    height: 100%;
    overflow: visible;
}
